body {
    background-color: black;
    color: greenyellow;
}

body.debug header.main-head {
    background-color: darkblue !important;
}

body.debug nav.main-nav {
    background-color: darkblue !important;
}

body.debug main.content {
    background-color: darkblue !important;
}

body.debug aside.side {
    background-color: darkblue !important;
}

body.debug div.ad {
    background-color: darkblue !important;
}

body.debug footer.main-footer {
    background-color: darkblue !important;
}